<!DOCTYPE html>
<!-- 	 
	@author Asela Liyanage
	@version 1.0
	@since 2021-01-30 
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base-layout}">
<head>
    <title>View Devices</title>
    <script>
        window.onscroll = function () {

  scrollFunction();
};
    </script>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <section>
            <div>
                <div class="col-md-12">
                    <h3 class="text-primary">All Registered Devices</h3>
                    <br>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-2">
                                <form action="#"
                                      th:action="@{/admin-portal/search-devices-by-key(searchParam=${searchData})}"
                                      th:object="${commonData}" method="get">

                                    <div
                                            style="padding: 5px; background-color: white; color: black;">
                                        <p>Search with any text</p>

                                        <div class="form-group input-group">

                                            <input type="text" class="form-control"
                                                   placeholder="Search any text ..." id="searchData"
                                                   th:field="*{searchData}"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Search any text here...">
                                            <button class="btn "
                                                    th:classappend="${pageStatus.contains('Search Result of Text')} ? btn-secondary : btn-info"
                                                    type="submit"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Click here to search" value="Search"
                                                    onclick="return CheckSearchText();">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5 ">
                                <form action="#"
                                      th:action="@{/admin-portal/search-devices-by-dates}"
                                      th:object="${commonDataForm}" method="post">

                                    <div
                                            style="padding: 5px; background-color: white; color: black;">
                                        <p>Search Device with Date Range</p>

                                        <div class="form-group input-group">
                                            <span class="input-group-addon">From</span> <input
                                                type="date" class="form-control" placeholder="YYYY-MM-DD"
                                                id="startDate" th:field="*{startDate}" data-toggle="tooltip"
                                                data-placement="top" title="Enter search starting date here">
                                            <span class="input-group-addon">To</span> <input type="date"
                                                                                             class="form-control"
                                                                                             placeholder="YYYY-MM-DD"
                                                                                             id="endDate"
                                                                                             th:field="*{endDate}"
                                                                                             data-toggle="tooltip"
                                                                                             data-placement="top"
                                                                                             title="Enter search ending date here">
                                            <span class="input-group-btn">
												<button class="btn "
                                                        th:classappend="${pageStatus.contains('Search Result of Dates')} ? btn-secondary : btn-info"
                                                        type="submit"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Search event for any date range" value="Search"
                                                        onclick="return CheckSearchDates();">
													<i class="fa fa-search"></i>
												</button>
											</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-4 -->
                            <div class="col-md-3">
                                <form action="#"
                                      th:action="@{/admin-portal/tid-devices-details(tid=${commonData.tid},mid=${commonData.mid})}"
                                      th:object="${commonData}" method="get">

                                    <div
                                            style="padding: 5px; background-color: white; color: black;">
                                        <p>Search Device with MID/TID</p>

                                        <div class="form-group input-group">

                                            <input type="text" class="form-control"
                                                   placeholder="Search MID ..." id="mid" th:field="*{mid}"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Enter MID here to search"> <input type="text"
                                                                                            class="form-control"
                                                                                            placeholder="Search TID ..."
                                                                                            id="tid"
                                                                                            th:field="*{tid}"
                                                                                            data-toggle="tooltip"
                                                                                            data-placement="top"
                                                                                            title="Enter search ending date here">
                                            <span
                                                    class="input-group-btn">
												<button class="btn "
                                                        th:classappend="${pageStatus.contains('Search Result in TID/MID')} ? btn-secondary : btn-info"
                                                        type="submit"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Search device for any MID or TID" value="Search"
                                                        onclick="return CheckSearchIds();">
													<i class="fa fa-search"></i>
												</button>
											</span>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-2 -->

                            <div class="col-md-2">
                                <div
                                        style="margin-top: 25px; padding: 5px; background-color: white; color: black;">
                                    <p></p>
                                    <a th:href="@{/admin-portal/view-devices}" class="btn "
                                       th:classappend="${pageStatus.contains('Today Updated Devices')} ? btn-secondary : btn-info"
                                       data-toggle="tooltip" data-placement="top"
                                       title="Click here to view today updated devices">Latest Devices</a>&nbsp
                                    <!-- <a th:href="@{/admin-portal/view-all-devices}"
                                        class ="btn " th:classappend="${pageStatus.contains('All Devices')} ? btn-secondary : btn-info" data-toggle="tooltip"
                                        data-placement="top" title="Click here to view all devices">All
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="alert alert-info" align="center">
                            <span th:text="${pageStatus}"></span>
                        </div>
                    </div>
                    <!-- /.card -->
                    <table id="deviceTable" style="margin-top: 10px;"
                           class="table table-striped table-responsive-md">
                        <tr>
                            <th>ID</th>
                            <th>Serial No</th>
                            <th>Bank</th>
                            <th>Merchant</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>SIM</th>
                            <th>Last Update</th>
                            <th>Status</th>
                            <th>Settings</th>
                            <th>Config</th>
                            <th>View</th>
                            <th>Modify</th>
                            <th>Delete</th>
                        </tr>

                        <tr th:each="device : ${devices}">
                            <td th:text="${device.deviceId}"></td>
                            <td th:text="${device.serialNo}"></td>
                            <td th:text="${device.bankCode}"></td>
                            <td th:text="${device.merchantName}"></td>
                            <td th:text="${device.merchantAddress}"></td>
                            <td th:text="${device.custContactNo}"></td>
                            <td th:text="${device.simNo}"></td>
                            <td th:text="${device.lastUpdate}"></td>
                            <td th:text="${device.status}"></td>
                            <td align="center"><a
                                    th:href="@{/admin-portal/setting-config/{serialNo}(serialNo=${device.serialNo})}"
                                    class="btn btn-dark"><i class="fa fa-suitcase"></i></a></td>
                            <td align="center">
                                <button th:id="'btn' + @{${device.deviceId}}" class="btn btn-secondary"
                                        th:onclick="showSettingPassword([[${device.serialNo}]], [[${device.deviceId}]])">
                                    <i class="fa fa-cog"></i></button>

                                <div th:id="'models' + @{${device.deviceId}}" class="modal hide fade in"
                                     data-keyboard="false" data-backdrop="static">
                                    <div class="modal-dialog modal-success">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="icon-box">
                                                    <i class="fa fa-cog"></i>
                                                </div>
                                                <h4 class="modal-title w-100">Setting Password</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4 th:id="newPassword"> Password: <span th:id="'newPassword'+ @{${device.deviceId}}"></span></h4>
                                                <br>
                                                <p th:id="massage" style="color:red;">If the password does not match, try the old password.</p>
                                                <p></p>
                                                <h5 th:id="oldPassword">Old Password: <span th:id="'oldPassword'+ @{${device.deviceId}}"></span></h5>
                                                <p th:id="massage2" style="color:red;">(This old password will be removed soon in the new version.)</p>
                                                <h4 th:id="error" style="display:none;"> <span style="color:red;" th:id="'error'+ @{${device.deviceId}}"></span></h4>


                                            </div>
                                            <div class="modal-footer align-center">
                                                <button class="btn btn-primary btn-inline" data-dismiss="modal">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td align="center"><a
                                    th:href="@{/admin-portal/view-device/{deviceId}(deviceId=${device.deviceId})}"
                                    class="btn btn-info"><i class="fa fa-eye"></i></a></td>
                            <td align="center"><a
                                    th:href="@{/admin-portal/modify-device/{deviceId}(deviceId=${device.deviceId})}"
                                    class="btn btn-warning" id="btnEditD"><i class="fas fa-edit"></i></a></td>
                            <td align="center">
                                <a th:href="'#model' + @{${device.deviceId}}" class="trigger-btn btn btn-danger"
                                   data-toggle="modal"><i
                                        class="fas fa-trash-alt"></i></a>
                                <div th:id="'model' + @{${device.deviceId}}" class="modal hide fade in"
                                     data-keyboard="false" data-backdrop="static">
                                    <div class="modal-dialog modal-delete">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="icon-box">
                                                    <i class="fa fa-question"></i>
                                                </div>
                                                <h4 class="modal-title w-100">Are you sure?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-center"
                                                   th:text="'Do you really want to delete ' + ${device.serialNo} + ' record?'"></p>
                                            </div>
                                            <div class="modal-footer align-center">

                                                <a
                                                        th:href="@{/admin-portal/delete-device/{deviceId}(deviceId=${device.deviceId})}"
                                                        class="btn btn-danger"
                                                > Delete
                                                </a>

                                                <button class="btn btn-primary btn-inline" data-dismiss="modal">Cancel
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <button
                                type="button"
                                class="btn btn-danger btn-floating btn-lg float-right btn-back-to-top"
                                id="btn-back-to-top"
                                onclick="backToTop()"
                        >
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        <tfoot>
                        <tr>
                            <td colspan="12" align="center"><span
                                    th:if="${devices.isEmpty()}" th:text="${tableStatus}"></span></td>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


        </section>
    </div>
</div>
</body>

</html>